cef_user_data
Code - OSS
dconf
discord
easyeffects
Electron
gtk-3.0
gtk-4.0
JetBrains
libreoffice
menus
neofetch
nushell
Postman
pulse
rncbc.org
simple-update-notifier
terminator
tidal-hifi
yay
htop
mimeapps.list
