cef_user_data
Code - OSS
dconf
discord
easyeffects
Electron
gtk-3.0
gtk-4.0
JetBrains
libreoffice
menus
neofetch
nushell
Postman
pulse
rncbc.org
simple-update-notifier
terminator
tidal-hifi
yay
htop
mimeapps.list
nushell
neofetch
mpv
kde.org
session
tidal-cli-client
Google
dolphinrc
bitburner
Thunar
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
